[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Flask = "==1.0.2"
Flask-SQLAlchemy = "==2.4.1"
Flask-Migrate = "==2.5.3"
Flask-WTF = "==0.14.3"
psycopg2 = "==2.8.5"
twilio = "==6.23.1"

[dev-packages]
black = "*"
pytest = "==4.4.1"